* {
    font-family: "Oswald", sans-serif;

    padding: 0;
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-image: url(./img/whitefont.png);
    background-position: center;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;

    a {
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: black;

        @media (max-width: 800px) {
            color: white;
        }
    }


    @media (max-width: 800px) {
        /* display: none; */

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: #222;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;

        transition: 0.8s;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

}

.logo,
.burger {
    display: none;

    @media (max-width: 800px) {
        display: block;
        z-index: 11;
        display: block;
    }
}

.header {
    padding: 52px 0 0;

    @media (max-width: 800px) {
        background-image: url(./img/blackfon.png);
        background-position: center;
        padding: 42px 0;
    }
}

.hero_wrapper {
    img {
        width: 100%;
    }

    h1 {
        /* font-size: 440px; */
        font-size: clamp(5.625rem, -1.023rem + 27.27vw, 26.25rem);
        line-height: 1;
        z-index: -1;
        position: relative;
        @media (max-width: 480px) {
            padding: 20px 0 0;
        }
    }

    p {
        /* font-size: 22px; */
        font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;

        @media (max-width: 480px) {
            padding: 20px 0;
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-top: 20px;


        @media (max-width: 480px) {
            justify-content: center;

            p:first-child {
                display: none;
            }

        }




    }
}



.swiper-slide {
    img {
        width: 100%;
    }
}



.album {
    .container {
        max-width: 1900px;
    }
}


.meet_wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;

    @media (max-width: 800px) {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column-reverse;
    }

    img {
        width: 100%;
    }

    p {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
    }

}



.meet_right {
    h2 {
        /* font-size: 170px; */
        font-size: clamp(3.25rem, 0.792rem + 9.83vw, 10.625rem);
        text-transform: uppercase;

        @media (max-width: 800px) {
            text-align: center;
        }
    }

    p {
        text-align: right;
        max-width: 800px;
        margin-left: auto;
        margin-bottom: 30px;
        margin-top: 73.5px;

        @media (max-width: 800px) {
            text-align: center;
            margin-top: 30px;
        }
    }

    img {
        margin-bottom: 20px;
    }
}



.meet {
    padding: 100 0;
}

.meet_let {
    p {
        @media (max-width: 800px) {
            text-align: center;
            margin-top: 30px;
        }
    }
}


.china1 {
    @media (max-width: 800px) {
        display: none;
    }

}

.china2 {
    @media (max-width: 800px) {
        display: block;
        width: 50%;
        margin: 30px auto;
    }
}





.our {}

.our__title {
    text-align: center;
    text-transform: uppercase;


}

.our__wrapper {
    padding: 50px 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        "card-1 card-2 card-4"
        "card-1 card-3 card-5";

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "card-1 card-1"
          "card-2 card-3"
          "card-4 card-5"; 
    }
    @media (max-width: 700px) {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          "card-1"
          "card-2"
          "card-3"
          "card-4"
          "card-5"; 
    }

    .card-1 {
        grid-area: card-1;
        background-image: url(./img/plans-1.png);
    }

    .card-2 {
        grid-area: card-2;
        background-image: url(./img/plans-2.png);
    }

    .card-3 {
        grid-area: card-3;
        background-image: url(./img/plans-3.png);
    }

    .card-4 {
        grid-area: card-4;
        background-image: url(./img/plans-4.png);
    }

    .card-5 {
        grid-area: card-5;
        background-image: url(./img/plans-5.png);
    }
}

.our__card {
    text-transform: uppercase;
    min-height: 350px;
    border: 3px solid black;
padding: 30px;

display: flex;
flex-direction: column;
justify-content: end;
color: white;


background-repeat: no-repeat;
background-size: cover;
background-position: center;


@media (max-width: 700px) {
    min-height: 200px;
    text-align: center;
}

p {
    height: 0;
    overflow: hidden;
    transition: 0.5s;

    @media (max-width: 700px) {
       height: auto;
    }
}

h3 {
    transition: 0.5;
    
    @media (max-width: 700px) {
       font-size: 30px;
     }
}

&:hover {
    p {
        height: 30px;
    }

    h3 {
        font-size: 40px;
    }
}

}

.card-1 {}

.card-2 {}

.card-3 {}

.card-4 {}

.card-5 {}

.our__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}



.team {
    padding: 100px 0;
}
.team__wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 60px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
}
.team__wrap {
    h2 {
        /* font-size: 180px; */
        text-transform: uppercase;

        font-size: clamp(4.375rem, 2.159rem + 9.09vw, 11.25rem);
    }
}
.team__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
}
.team__card {
    border: 3px solid black;
    /* min-height: 250px; */


    aspect-ratio: 2/1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: end;
    padding: 25px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(219, 219, 152);
    font-weight: 600;

    background-size: 120%;
    transition: 0.6s;


    &:hover {
        background-size: 160%;
    }

    &:nth-child(1) {
        background-image: url(./img/team-2.png);
    }
    &:nth-child(2) {
        background-image: url(./img/team-1.png);
    }
    &:nth-child(3) {
        background-image: url(./img/team-3.png);
    }
    &:nth-child(4) {
        background-image: url(./img/team-4.png);
    }

}
.team_img {
    width: 100%;
}







.footer {
}
.container {
}
.footer__wrap {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 52px;


@media (max-width: 1200px) {
  grid-template-columns: 1.5fr 1fr;
}

@media (max-width: 1000px) {
  grid-template-columns: 1fr;
}
}
.footer__box {
    > img {
        width: 100%;
    }
}
.footer__menu {
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}


@media (max-width: 500px) {
  flex-direction: column;
}

}
.icons {
}
.footer__eyes {
    width: 100%;
    border: 3px solid black;
}
.footer__text {
width: 100%;
margin-top: 40px;
}


.team_img {
    width: 100%;


    @media (max-width: 900px) {
      display: none;
    }
}





.wrapper12 {
    h1 {

       font-size: clamp(5.625rem, 0.589rem + 20.66vw, 21.25rem);
        text-transform: uppercase;   
        line-height: 1;
        z-index: -1;
        position: relative;
        @media (max-width: 480px) {
            padding: 20px 0 0;
        }
    }


    p {
        /* font-size: 22px; */
        font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;

        @media (max-width: 480px) {
            padding: 20px 0;
        }
}
}



.card {
    border: 2px solid black;
    height: 200px;
    width: 600px;

}


.wrapper_colleg {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
gap: 40px;
margin-bottom: 30px;

@media (max-width: 850px) {
    grid-template-columns: 1fr ;
}

}


.card {
    display: flex;
    padding-left: 10px;
    img {
        border: 2px solid black;
        margin-right: 20px;
        object-fit: cover;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            
    }
    justify-content: end;
    margin-right: 23px;
     align-items: center;

    h1 {
        text-transform: uppercase;
    }

    p {
        color: gray;
    }

&:hover {

    background-color: black;
color: rgb(239, 81, 133);

    transition: 1s;
}

  
}

.wrapper13 {
    display: grid;
    flex-direction: column;
    gap: 40px;



   
}

